<nav class="navbar navbar-light bg-light">
	<div class="col-sm-1">
		<br>
	</div>
	<div class="col-sm">
	</div>
	<div class="col-sm">
	</div>
</nav>
<div class="container">
	<div class="container">
		<h1>{{title}}</h1>
	</div>
	<div class="container">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
					<div class="col-4">
						To be paid, you will need the following code:
					</div>
					<div class="col-4">
					</div>
					<div class="col-4" style="color: darkred;">
						{{code}}
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<p>Please return to the original hit page and paste in the code above. After pasting the code, You can download the debrief information about this experiment <a href='/download/debrief' target="_blank">here.</a></p>
				</div>
			</li>
		</ul>
	</div>
	<div class="container">
		<p>
			{{text}}
		</p>
	</div>
</div>
