server/audio filter=lfs diff=lfs merge=lfs -text
server/video filter=lfs diff=lfs merge=lfs -text
server/audio/sample_audio.mp3 filter=lfs diff=lfs merge=lfs -text
server/video/sample.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
