<div class="container">
    <h1>
        {{title}}
    </h1>
    <div class="row">
        <div class="col-sm wrap-content" [innerHTML]="description"></div>
    </div>
	<br>
    <h2>
        Video
    </h2>
	<hr>
    <div class="row justify-content-center">
        <div style="justify-content: center;" #videoOverlay class="original" (click)="playPause()">
            <video
                #videoPlayer
                style="display: none;"
                src=""
                ></video>
            <canvas #canvas
            style="margin-left:10%"
            width="960px" height="540px"></canvas>
            </div>
        <audio
        #audioPlayer
        src="">
        </audio>
    </div>

   <p></p>
    <div>
	<h2 *ngIf="this.showFullConfig"> <hr style="height:30pt; visibility:hidden;" /> Configuration </h2>
	<h2 *ngIf="this.showDemoConfig"> <hr style="height:30pt; visibility:hidden;" /> Configuration </h2>
		<br>
		<br>
        <div class="row" *ngIf="this.showPanel">

			<br>
            <div class="col-sm wrap-content">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" colspan="1">Configuration Name</th>
                        <th *ngIf="!(saveApply.save || saveApply.apply)" scope="col" colspan="1" style="width: 15%;">{{renderTableTitle()}}</th>
                        <th *ngIf="saveApply.save || saveApply.apply" scope="col" colspan="1" style="width: 10%; text-align: center;">{{renderTableTitle(1)}}</th>
                        <th *ngIf="saveApply.save || saveApply.apply" scope="col" colspan="1" style="width: 10%; text-align: center;">{{renderTableTitle(2)}}</th>
                        <th *ngIf="formJson['settings']['apply']" scope="col" colspan="1" style="width: 15%;">Price ($0~$4)</th>
                        <th *ngIf="formJson['settings']['apply']" scope="col" colspan="1" style="width: 40%;">Why did you price the component this way?</th>
                        <th *ngIf="showCost" scope="col" colspan="1">Cost</th>
                      </tr>
                    </thead>
                    <tbody>
						<ng-container *ngIf="this.showDemoConfig">
							<tr style="height: 100px;"*ngFor="let k of objectKeys(configurations)">
								<td colspan="1" scope="row">{{k}}</td>
								<td colspan="1" scope="row" *ngIf="saveApply.save || saveApply.apply" style="text-align: center;">
                                        <div class="radio">
                                            <input [disabled]="saveApply.apply" (click)="onCheckboxClick(true, k)" type="radio" [name]="k" [checked]="!fetchCheckBoxStatus(k)">
                                        </div>
                                </td>
                                <td colspan="1" scope="row" *ngIf="saveApply.save || saveApply.apply" style="text-align: center;">
                                    <div class="radio">
                                        <input type="radio" [disabled]="saveApply.apply" [name]="k" (click)="onCheckboxClick(false, k)"  [checked]="fetchCheckBoxStatus(k)">
                                    </div>
                                </td>
                                <td colspan="1" scope="row" *ngIf="formJson['settings']['apply']">
                                    <input type="number" min="0" max="4"
                                    [value]="priceArray[k]"
                                    (input)="priceArrayChange(k, $event)"
                                    class="form-control"
                                    required/>
                                </td>
                                <td colspan="1" scope="row" *ngIf="formJson['settings']['apply']">
                                    <textarea
                                        [(ngModel)]="reasonArray[k]"
                                        class="form-control"
                                        rows="4"
                                        required>
                                    </textarea>
                                </td>
                            </tr>
                            <tr style="height: 100px;" *ngIf="saveApply.apply">
								<td colspan="1" scope="row"></td>
								<td colspan="1" scope="row"></td>
								<td colspan="1" scope="row"></td>
								<td colspan="2" scope="row">If the buyer accepts your design, he/she will pays ${{sumUpCost(priceArray) | number}} and you will earn ${{0.1 * sumUpCost(priceArray) | number}} as your commission. </td>
								<!--<td colspan="1" scope="row">The buyer pays ${{sumUpCost(priceArray) | number}}.</td>
								<td colspan="1" scope="row">If the buyer accepts your design, you will recieve ${{0.1 * sumUpCost(priceArray) | number}}.</td>-->
                            </tr>
                            <!--<tr style="height: 100px;" *ngIf="saveApply.apply">
								<td colspan="1" scope="row"></td>
								<td colspan="1" scope="row"></td>
								<td colspan="1" scope="row"></td>
								<td colspan="1" scope="row">Your Commission ${{0.1 * sumUpCost(priceArray) | number}}</td>
								<td colspan="1" scope="row"></td>
							</tr>-->
						</ng-container>


						<ng-container *ngIf="this.showFullConfig">
						<tr style="height: 100px;"*ngFor="let k of objectKeys(configurations)">
                            <th colspan="1" scope="row">{{k}}</th>
							<td colspan="1">
                                <ng5-slider
                                    [(value)]="configurations[k]"
                                    [options]="sliderOptions"
                                    (userChange)="onRadioCheck()"></ng5-slider>
                            </td>
                            <td *ngIf="showCost" colspan="1">
                                ${{configurations[k]*2}}
                            </td>
                        </tr>
						</ng-container>

                        <tr *ngIf="showCost">
                            <th *ngIf="showCost" scope="row"></th>
                            <td colspan="7">
                            </td>
                            <td>
                                Total: ${{sumUpCost(priceArray)}}
                            </td>
                        </tr>
                    </tbody>
                  </table>
              </div>
        </div>
        <div  *ngIf="!this.showPanel" class="container">
            <!-- <div *ngFor="let item of configurations | keyvalue">
                <div class="row">
                    <b>{{item.key}}</b> : <b>{{item.value}}</b>
                </div>
            </div> -->
        </div>
    </div>
	<br>

	<h2 *ngIf="formJson && formJson.settings.normal">Questions</h2>
    <h2 *ngIf="formJson && formJson.settings.normal"></h2>
    <app-survey
        *ngIf="formJson && formJson.settings.normal"
        [json]="survey"
        (suveyModel)="getSurvey($event)"
        (resultEmit)="surveySubmit($event)">
    </app-survey>

    <button style="float: right;" [disabled]="clicked" (click)="submit($event)" type="submit" class="mr-2 btn btn-success">
        Submit
    </button>
    <div style="float: left;">
        <span style="color: red;" *ngIf="showHintForFillingReasons">Please ABCDEFG</span>
    </div>
</div>
