<div class="container">
    <h1>
        VIDEO
    </h1>
    <div class="row">
        <div class="col-sm wrap-content">
            <p>
                appabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vmsappabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vms
                appabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vms
                appabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vms
                appabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vms
                appabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vms
                appabasefsdfsefsdkvm;cvml;zsdkfnglzxcmvlkdsnrgpksmnf;sldfm;seotjspeoms;d,vmsd;fms;dov;xlvms;elfm;dlvmxc,vmspefmc,vms
            </p>
                
        </div>
    </div>
    <h2>
        Video
    </h2>
    
    <div class="row justify-content-center">
        <div class="col-sm-8 wrap-content">
       <video 
            class="embed-responsive embed-responsive-21by9"
            (click)="playPause($event)"
            src="http://localhost:5000/api/video/sample.mp4" 
            ></video>
        </div>
    </div>
    <p></p>
    <h2>
        Configuration
    </h2>
    <div class="row">
        <div class="col-sm wrap-content">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Configuration Name</th>
                    <th scope="col" colspan=5>Score ( 0 ~ 4 )</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let k of objectKeys(configurations)">
                    <th scope="row">{{k}}</th>
                    <td *ngFor="let i of video_config">
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="radio" 
                                name="{{k}}" 
                                id="{{k}}-{{i}}" 
                                value="{{i}}" 
                                [(ngModel)]="configurations[k]"
                                (change)="onRadioCheck()">
                            <label class="form-check-label" for="{{k}}-{{i}}">{{i}}</label>
                          </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
    </div>
    
</div>