<div class="container">
    <h1>
        {{title}}
    </h1>
    <div class="row">
        <div class="col-sm wrap-content" [innerHTML]="description"></div>
    </div>

	<br>
    <h2>
        Video
    </h2>
	<hr>
    <div class="row justify-content-center">
        <div style="justify-content: center;" #videoOverlay class="original" (click)="playPause()">
            <video
                #videoPlayer
                style="display: none;"
                src=""
                ></video>
            <canvas #canvas
            style="margin-left:10%"
            width="960px" height="540px"></canvas>
            </div>
        <audio
        #audioPlayer
        src="">
        </audio>
    </div>

   <p></p>
    <div>
	<h2 *ngIf="this.showFullConfig"> Configuration </h2>
	<h2 *ngIf="this.showDemoConfig"> Configuration </h2>
		<br>
		<br>
        <div class="row" *ngIf="this.showPanel">

			<br>
            <div class="col-sm wrap-content">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Configuration Name</th>
                        <th scope="col" colspan=5>Enhancement</th>
                        <th *ngIf="showCost" scope="col" colspan=3>Cost</th>
                      </tr>
                    </thead>
                    <tbody>
						<ng-container *ngIf="this.showDemoConfig">
							<tr style="height: 100px;"*ngFor="let k of objectKeys(configurations)">
								<th colspan="1" scope="row">{{k}}</th>
								<td colspan="1">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" (click)="onCheckboxClick($event, k)">
									</div>
								</td>
							</tr>
						</ng-container>


						<ng-container *ngIf="this.showFullConfig">
						<tr style="height: 100px;"*ngFor="let k of objectKeys(configurations)">
                            <th colspan="1" scope="row">{{k}}</th>
							<td colspan="1">
                                <ng5-slider
                                    [(value)]="configurations[k]"
                                    [options]="sliderOptions"
                                    (userChange)="onRadioCheck()"></ng5-slider>
                            </td>
                            <td *ngIf="showCost" colspan="1">
                                ${{configurations[k]*2}}
                            </td>
                        </tr>
						</ng-container>

                        <tr *ngIf="showCost">
                            <th *ngIf="showCost" scope="row"></th>
                            <td colspan="7">
                            </td>
                            <td>
                                Total: ${{sumUpCost(videoConfig)*2}}
                            </td>
                        </tr>
                    </tbody>
                  </table>
              </div>
        </div>
        <div  *ngIf="!this.showPanel" class="container">
            <!-- <div *ngFor="let item of configurations | keyvalue">
                <div class="row">
                    <b>{{item.key}}</b> : <b>{{item.value}}</b>
                </div>
            </div> -->
        </div>
    </div>
	<br>

	<h2 *ngIf="formJson && formJson.settings.normal">Questions</h2>
    <h2 *ngIf="formJson && formJson.settings.normal"></h2>
    <app-survey
        *ngIf="formJson && formJson.settings.normal"
        [json]="survey"
        (suveyModel)="getSurvey($event)"
        (resultEmit)="surveySubmit($event)">
    </app-survey>


    <button style="float: right;" [disabled]="clicked" (click)="submit($event)" type="submit" class="mr-2 btn btn-success">
        Submit
    </button>
</div>
