<swal
  #confirmSubmit
  title="Submit with 0 vote?"
  text="This cannot be undone"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="submitSuccessSwal.fire()">
</swal>
<swal
  #submitSuccess
  icon="question"
  [showCancelButton]="false"
  [showConfirmButton]="false"
>
<form *swalPortal="swalTargets.content" >
    <p>
        In 2 to 3 sentences, what is the reason that you make this decision?
    </p>
    <textarea 
        class="swal2-textarea" 
        type="text" 
        [formControl]="submitForm" 
        autofocus
    ></textarea>
    <label *ngIf="submitForm.invalid" [ngClass] = "'error'" > Your response required with min 1 character. </label>
    <br/>
    <button 
    (click)="submitFinalForm()"
    *ngIf="!submitForm.invalid" 
    class="swal2-styled swal2-confirm"> Submit</button>

</form>

</swal>
<div class="container sticky">
    <div class="card">
        <h5 class="card-header">Summary</h5>
            <div class="card-body">
                <h5 class="card-title">Used {{usedCredits}} out of {{totalCredits}} credits</h5>
                <div class="card-text">
                    <div>
                        <small style="float: left; margin: 0">0</small>
                        <small style="float: right; margin: 0">{{totalCredits}}</small>
                        <progressbar style="width: 100%; margin-bottom: 10px;" [animate]="false" [value]="percentage" [type]="type"></progressbar>
                    </div>
                </div>
                <button (click)="submit()" type="button" class="btn btn-outline-primary">Submit</button>
            </div>
    </div>
</div>

