<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let option of this.currentOptions; let i = index">
            <div class="row">
                <div class="col-1">
                    <button (click)="modifyVotesByID(i, 1)" type="button" class="btn btn-outline-primary btn-sm" [disabled]="isDisabled(i, false)">
                            <i class="fas fa-plus"></i>
                    </button>
                    <button (click)="modifyVotesByID(i, -1)" type="button" class="btn btn-outline-primary btn-sm" [disabled]="isDisabled(i, true)">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
                <div class="col-8">
                    {{option.option}}
                    <div *ngIf="votes[i] >= 0; then tick else cross"></div>
                    <ng-template #tick>
                        <i *ngFor="let k of [].constructor(votes[i])" class="far fa-check-circle tick"></i>
                    </ng-template>
                    <ng-template #cross>
                        <i *ngFor="let k of [].constructor(-votes[i])" class="far fa-times-circle cross"></i>
                    </ng-template>
                </div>
                <div class="col-3">
                    <small style="float: left; margin: 0">0%</small>
                    <small style="float: right; margin: 0">100%</small>
                    <progressbar *ngIf="votes[i]>=0" type="info" style="width: 100%;" [max]="this.totalCredits" [value]="votes[i]*votes[i]" [striped]="true" [animate]="true">
                            <i>{{((votes[i]*votes[i])/this.totalCredits)*100 | number : '1.2-2'}}%</i>
                    </progressbar>
                    <progressbar *ngIf="votes[i]<0" type="warning" style="width: 100%;" [max]="this.totalCredits" [value]="votes[i]*votes[i]" [striped]="true" [animate]="true">
                        <i>{{((votes[i]*votes[i])/this.totalCredits)*100 | number : '1.2-2'}}%</i>
                    </progressbar>
                </div>
            </div>
            <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">{{option.description}}</div>
                    <div class="col-3"> Casted {{votes[i]}} vote(s), cost {{votes[i]*votes[i]}} credit(s)</div>

            </div>
        </li>

    </ul>
</div>
